@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Sans:400,700');
$montserrat: 'Montserrat', sans-serif;
$ptsans: 'PT Sans', sans-serif;
$blue: #2c3457;
$lightblue: #12a3e0;

body {
	margin: 0 auto;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: $ptsans;
	font-size: 14px;

	background: #a5d3ea; /* Old browsers */
	background: -moz-linear-gradient(top, #a5d3ea 0%, #cae1f1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a5d3ea 0%,#cae1f1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a5d3ea 0%,#cae1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d3ea', endColorstr='#cae1f1',GradientType=0 ); /* IE6-9 */
}



/* ====================== */
/* FONTS */
/* ====================== */
h1 {
	font-family: $montserrat;
}



/* ====================== */
/* COLORS */
/* ====================== */
.blue {
	* {
		color: $blue;
	}
}



/* ====================== */
/* HEADER */
/* ====================== */
header {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	padding-top: 2%;
	position: relative;
	z-index: 99;

	.logo {
		width: 8%;
		float: left;
	}
	.mainnav {
		float: right;

		nav {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;
					margin-left: 15px;

					a {
						font-family: $montserrat;
						font-weight: normal;
						font-size: 1em;
						text-decoration: none;

						&:hover {
							text-decoration: underline;;
						}
					}
				}
			}
		}
	}
}



/* ====================== */
/* MAIN */
/* ====================== */
main {
	.homecontent {
		.bigc {
			font-family: $montserrat;
			font-weight: bold;
			font-size: 32em;
			line-height: 1em;
			text-align: center;
			position: absolute;
			bottom: 260px;
			width: 100%;

			background: -webkit-linear-gradient(#2c3457, #424b82);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		}
		.contentwrapper {
			position: absolute;
			width: 100%;
			padding-top: 160px;
			padding-bottom: 6%;
			bottom: 0;
			background-image: url(img/clouds-blue.png);
			background-repeat: no-repeat;
			background-size: cover;

			.content {
				overflow: hidden;
				width: 90%;
				margin: 0 auto;

				h1 {
					margin: 0;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
				p {
					margin: 0;
					font-size: 1.4em;
					letter-spacing: 1px;
				}

				.hleft {
					text-align: right;
					width: 50%;
					float: left;
					padding-right: 1.2%;
					box-sizing: border-box;
				}
				.hright {
					text-align: left;
					width: 50%;
					float: left;
					padding-left: 1.2%;
					box-sizing: border-box;
				}
				.hbuttons {
					a {
						background: #fff;
						text-decoration: none;
						border: 1px solid $lightblue;
						border-radius: 50px;
						padding: 11px 21px;
						margin: 0px 3px;
						display: inline-block;

						span {
							color: $lightblue;
						}
						&:hover {
							background-color: $lightblue;

							span {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	video#testvideo {
		position: fixed;
		min-width: 100%;
		min-height: 100vh;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: -1;
	}
}
